In [1]:
import pandas as pd
from pickle import load, dump

from reports import CountryReports

## Test Reports

In [2]:
usa_instance = CountryReports('usa')

Accessing DC: usa

In [3]:
with open('./usa_test/patient_admissions_by_country.pkl', 'rb') as fh:
    patient_admissions_by_country = load(fh)

In [4]:
with open('./usa_test/patient_admissions_by_state.pkl', 'rb') as fh:
    patient_admissions_by_state = load(fh)

### Line chart data

#### Revenues

In [5]:
patient_admissions_revenues_per_annum = usa_instance.patient_admissions_revenues_per_annum(patient_admissions_by_country)
patient_admissions_revenues_per_annum

{'id': 'usa',
 'data': [{'x': '2012', 'y': 597573.34},
  {'x': '2013', 'y': 646014.6},
  {'x': '2014', 'y': 574809.17},
  {'x': '2015', 'y': 525040.96},
  {'x': '2016', 'y': 487645.95},
  {'x': '2017', 'y': 528995.11},
  {'x': '2018', 'y': 625260.44},
  {'x': '2019', 'y': 472591.93},
  {'x': '2020', 'y': 583380.51},
  {'x': '2021', 'y': 632495.06},
  {'x': '2022', 'y': 614017.0}]}

In [6]:
patient_admissions_revenues_per_month = usa_instance.patient_admissions_revenues_per_month(patient_admissions_by_country, 2021)
patient_admissions_revenues_per_month

C:\Users\USER\Documents\IF5170\backend\services\reports.py:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['admitted_date'].dt.month

{'id': 'usa',
 'data': [{'x': '1', 'y': 78356.86},
  {'x': '2', 'y': 3677.24},
  {'x': '3', 'y': 84842.23},
  {'x': '4', 'y': 30371.88},
  {'x': '5', 'y': 64846.990000000005},
  {'x': '6', 'y': 79509.13},
  {'x': '7', 'y': 56534.95},
  {'x': '8', 'y': 45274.01},
  {'x': '9', 'y': 51873.060000000005},
  {'x': '10', 'y': 43039.17},
  {'x': '11', 'y': 48294.44},
  {'x': '12', 'y': 45875.1}]}

In [7]:
patient_admissions_revenues_per_quarter = usa_instance.patient_admissions_revenues_per_quarter(patient_admissions_by_country, 2021)
patient_admissions_revenues_per_quarter

C:\Users\USER\Documents\IF5170\backend\services\reports.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['admitted_date'].dt.quarter
C:\Users\USER\Documents\IF5170\backend\services\reports.py:139: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['quarter'].map(quarter_dct)

{'id': 'usa',
 'data': [{'x': 'Q1', 'y': 166876.33},
  {'x': 'Q2', 'y': 174728.0},
  {'x': 'Q3', 'y': 153682.02000000002},
  {'x': 'Q4', 'y': 137208.71}]}

### DataFrame formats
#### Total admitted patients

In [8]:
patient_admissions_per_annum = usa_instance.patient_admissions_per_annum(patient_admissions_by_country)
patient_admissions_per_annum

    year  total_admitted_patients
0   2012                       93
1   2013                       95
2   2014                       80
3   2015                       86
4   2016                       83
5   2017                       87
6   2018                       87
7   2019                       78
8   2020                       92
9   2021                       86
10  2022                       88

In [9]:
patient_admissions_per_month = usa_instance.patient_admissions_per_month(patient_admissions_by_country, 2021)
patient_admissions_per_month

C:\Users\USER\Documents\IF5170\backend\services\reports.py:171: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['admitted_date'].dt.month

    month  total_admitted_patients
0       1                        8
1       2                        1
2       3                        9
3       4                        4
4       5                        9
5       6                       10
6       7                        8
7       8                        6
8       9                        8
9      10                        6
10     11                        9
11     12                        8

In [10]:
patient_admissions_per_quarter = usa_instance.patient_admissions_per_quarter(patient_admissions_by_country, 2021)
patient_admissions_per_quarter

C:\Users\USER\Documents\IF5170\backend\services\reports.py:202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['admitted_date'].dt.quarter
C:\Users\USER\Documents\IF5170\backend\services\reports.py:209: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['quarter'].map(quarter_dct)

  quarter  total_admitted_patients
0      Q1                       18
1      Q2                       23
2      Q3                       22
3      Q4                       23

### Table Data

In [11]:
revenues_by_state_per_annum = usa_instance.revenues_by_state_per_annum(patient_admissions_by_state)
revenues_by_state_per_annum

[{'year': 2012, 'state': 'I', 'total_revenues': 224070.07, 'Country': 'usa'},
 {'year': 2012, 'state': 'T', 'total_revenues': 373503.27, 'Country': 'usa'},
 {'year': 2013, 'state': 'I', 'total_revenues': 432663.32, 'Country': 'usa'},
 {'year': 2013, 'state': 'T', 'total_revenues': 213351.28, 'Country': 'usa'},
 {'year': 2014, 'state': 'I', 'total_revenues': 317958.57, 'Country': 'usa'},
 {'year': 2014, 'state': 'T', 'total_revenues': 256850.6, 'Country': 'usa'},
 {'year': 2015, 'state': 'I', 'total_revenues': 270368.72, 'Country': 'usa'},
 {'year': 2015, 'state': 'T', 'total_revenues': 254672.24, 'Country': 'usa'},
 {'year': 2016, 'state': 'I', 'total_revenues': 133341.99, 'Country': 'usa'},
 {'year': 2016, 'state': 'T', 'total_revenues': 354303.96, 'Country': 'usa'},
 {'year': 2017, 'state': 'I', 'total_revenues': 334367.77, 'Country': 'usa'},
 {'year': 2017, 'state': 'T', 'total_revenues': 194627.34, 'Country': 'usa'},
 {'year': 2018, 'state': 'I', 'total_revenues': 308180.73, 'Country': 'usa'},
 {'year': 2018, 'state': 'T', 'total_revenues': 317079.71, 'Country': 'usa'},
 {'year': 2019, 'state': 'I', 'total_revenues': 295292.5, 'Country': 'usa'},
 {'year': 2019, 'state': 'T', 'total_revenues': 177299.43, 'Country': 'usa'},
 {'year': 2020, 'state': 'I', 'total_revenues': 424337.66, 'Country': 'usa'},
 {'year': 2020, 'state': 'T', 'total_revenues': 159042.85, 'Country': 'usa'},
 {'year': 2021, 'state': 'I', 'total_revenues': 402347.32, 'Country': 'usa'},
 {'year': 2021, 'state': 'T', 'total_revenues': 230147.74, 'Country': 'usa'},
 {'year': 2022, 'state': 'I', 'total_revenues': 411276.37, 'Country': 'usa'},
 {'year': 2022, 'state': 'T', 'total_revenues': 202740.63, 'Country': 'usa'}]

In [12]:
patient_admission_by_state_per_year = usa_instance.patient_admission_by_state_per_year(patient_admissions_by_state)
patient_admission_by_state_per_year

[{'year': 2012, 'state': 'I', 'total_admitted_patients': 39, 'Country': 'usa'},
 {'year': 2012, 'state': 'T', 'total_admitted_patients': 54, 'Country': 'usa'},
 {'year': 2013, 'state': 'I', 'total_admitted_patients': 50, 'Country': 'usa'},
 {'year': 2013, 'state': 'T', 'total_admitted_patients': 45, 'Country': 'usa'},
 {'year': 2014, 'state': 'I', 'total_admitted_patients': 40, 'Country': 'usa'},
 {'year': 2014, 'state': 'T', 'total_admitted_patients': 40, 'Country': 'usa'},
 {'year': 2015, 'state': 'I', 'total_admitted_patients': 40, 'Country': 'usa'},
 {'year': 2015, 'state': 'T', 'total_admitted_patients': 46, 'Country': 'usa'},
 {'year': 2016, 'state': 'I', 'total_admitted_patients': 32, 'Country': 'usa'},
 {'year': 2016, 'state': 'T', 'total_admitted_patients': 51, 'Country': 'usa'},
 {'year': 2017, 'state': 'I', 'total_admitted_patients': 45, 'Country': 'usa'},
 {'year': 2017, 'state': 'T', 'total_admitted_patients': 42, 'Country': 'usa'},
 {'year': 2018, 'state': 'I', 'total_admitted_patients': 47, 'Country': 'usa'},
 {'year': 2018, 'state': 'T', 'total_admitted_patients': 40, 'Country': 'usa'},
 {'year': 2019, 'state': 'I', 'total_admitted_patients': 41, 'Country': 'usa'},
 {'year': 2019, 'state': 'T', 'total_admitted_patients': 37, 'Country': 'usa'},
 {'year': 2020, 'state': 'I', 'total_admitted_patients': 49, 'Country': 'usa'},
 {'year': 2020, 'state': 'T', 'total_admitted_patients': 43, 'Country': 'usa'},
 {'year': 2021, 'state': 'I', 'total_admitted_patients': 50, 'Country': 'usa'},
 {'year': 2021, 'state': 'T', 'total_admitted_patients': 36, 'Country': 'usa'},
 {'year': 2022, 'state': 'I', 'total_admitted_patients': 49, 'Country': 'usa'},
 {'year': 2022, 'state': 'T', 'total_admitted_patients': 39, 'Country': 'usa'}]

In [13]:
patient_admissions_by_country

,country,admission_id,admitted_causes,admitted_date,bed_id,care_center_id,discharged_date,patient_id,room_id,room_rate_per_night,room_rate_total,year
0,USA,adm-usa-0011,Common spider bite spider bite,2015-01-04,b-usa-1568,cc-usa-1,2015-01-13,p-usa-0956,r-usa-vip-2595,520.66,4685.94,2015
1,USA,adm-usa-0014,Tonsillar cancer tumor tongue,2016-09-15,b-usa-1987,cc-usa-2,2016-09-28,p-usa-0252,r-usa-vip-7400,672.34,8740.42,2016
2,USA,adm-usa-0016,Compartment syndrome increased pressure inside...,2016-04-09,b-usa-5082,cc-usa-1,2016-05-03,p-usa-0564,r-usa-iii-2962,77.11,1850.64,2016
3,USA,adm-usa-0024,Hepatitis A,2013-08-29,b-usa-5041,cc-usa-1,2013-09-04,p-usa-0649,r-usa-iii-7582,77.11,462.66,2013
4,USA,adm-usa-0036,Thyroid cyst,2015-04-22,b-usa-0032,cc-usa-2,2015-05-02,p-usa-0707,r-usa-i-9320,479.38,4793.80,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
950,USA,adm-usa-9939,Bell's palsy facial muscle weakness,2014-06-24,b-usa-3734,cc-usa-1,2014-06-26,p-usa-0042,r-usa-vip-1650,520.66,1041.32,2014
951,USA,adm-usa-9953,Keratosis pilaris common skin condition,2012-02-15,b-usa-7209,cc-usa-2,2012-03-13,p-usa-0164,r-usa-ii-9195,184.48,4980.96,2012
952,USA,adm-usa-9956,Hiatal hernia stomach pushes through diaphragm,2020-05-06,b-usa-7422,cc-usa-2,2020-05-23,p-usa-0696,r-usa-i-8133,479.38,8149.46,2020
953,USA,adm-usa-9973,Puncture wound of ankle,2018-12-14,b-usa-1154,cc-usa-1,2019-02-02,p-usa-0642,r-usa-iii-3491,77.11,3855.50,2018
954,USA,adm-usa-9990,Keratitis inflammation of cornea,2018-08-01,b-usa-7495,cc-usa-2,2018-08-21,p-usa-0005,r-usa-vip-4712,672.34,13446.80,2018

In [14]:
room_occupancy_by_room_type_per_year = usa_instance.room_occupancy_by_room_type_per_year(patient_admissions_by_country)
room_occupancy_by_room_type_per_year

[{'year': 2012,
  'Class I': 14,
  'Class II': 17,
  'Class III': 17,
  'VIP': 27,
  'VVIP': 18},
 {'year': 2013,
  'Class I': 16,
  'Class II': 13,
  'Class III': 22,
  'VIP': 26,
  'VVIP': 18},
 {'year': 2014,
  'Class I': 11,
  'Class II': 7,
  'Class III': 22,
  'VIP': 26,
  'VVIP': 14},
 {'year': 2015,
  'Class I': 21,
  'Class II': 17,
  'Class III': 15,
  'VIP': 16,
  'VVIP': 17},
 {'year': 2016,
  'Class I': 9,
  'Class II': 17,
  'Class III': 22,
  'VIP': 23,
  'VVIP': 12},
 {'year': 2017,
  'Class I': 14,
  'Class II': 9,
  'Class III': 24,
  'VIP': 21,
  'VVIP': 19},
 {'year': 2018,
  'Class I': 17,
  'Class II': 12,
  'Class III': 18,
  'VIP': 19,
  'VVIP': 21},
 {'year': 2019,
  'Class I': 8,
  'Class II': 11,
  'Class III': 25,
  'VIP': 19,
  'VVIP': 15},
 {'year': 2020,
  'Class I': 17,
  'Class II': 6,
  'Class III': 27,
  'VIP': 18,
  'VVIP': 24},
 {'year': 2021,
  'Class I': 10,
  'Class II': 18,
  'Class III': 24,
  'VIP': 12,
  'VVIP': 22},
 {'year': 2022,
  'Class I': 14,
  'Class II': 19,
  'Class III': 16,
  'VIP': 20,
  'VVIP': 19}]