In [1]:
import pandas as pd
from pickle import load, dump

from reports import CountryReports

## Test Reports

In [2]:
idn_instance = CountryReports('idn')

Accessing DC: idn

In [3]:
with open('./idn_test/patient_admissions_by_country.pkl', 'rb') as fh:
    patient_admissions_by_country = load(fh)

In [4]:
with open('./idn_test/patient_admissions_by_state.pkl', 'rb') as fh:
    patient_admissions_by_state = load(fh)

### Line chart data

#### Revenues

In [5]:
patient_admissions_revenues_per_annum = idn_instance.patient_admissions_revenues_per_annum(patient_admissions_by_country)
patient_admissions_revenues_per_annum

{'id': 'idn',
 'data': [{'x': '2012', 'y': 485244.82},
  {'x': '2013', 'y': 685427.55},
  {'x': '2014', 'y': 575219.28},
  {'x': '2015', 'y': 459797.58},
  {'x': '2016', 'y': 412617.45},
  {'x': '2017', 'y': 592859.3},
  {'x': '2018', 'y': 548248.78},
  {'x': '2019', 'y': 444777.59},
  {'x': '2020', 'y': 598127.75},
  {'x': '2021', 'y': 502389.72},
  {'x': '2022', 'y': 416671.38}]}

In [6]:
patient_admissions_revenues_per_month = idn_instance.patient_admissions_revenues_per_month(patient_admissions_by_country, 2021)
patient_admissions_revenues_per_month

C:\Users\USER\Documents\IF5170\backend\services\reports.py:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['admitted_date'].dt.month

{'id': 'idn',
 'data': [{'x': '1', 'y': 45296.47},
  {'x': '2', 'y': 6977.16},
  {'x': '3', 'y': 82474.97},
  {'x': '4', 'y': 15042.630000000001},
  {'x': '5', 'y': 26872.420000000002},
  {'x': '6', 'y': 48621.56},
  {'x': '7', 'y': 46718.92},
  {'x': '8', 'y': 56960.37},
  {'x': '9', 'y': 44463.479999999996},
  {'x': '10', 'y': 29306.4},
  {'x': '11', 'y': 61831.32},
  {'x': '12', 'y': 37824.020000000004}]}

In [7]:
patient_admissions_revenues_per_quarter = idn_instance.patient_admissions_revenues_per_quarter(patient_admissions_by_country, 2021)
patient_admissions_revenues_per_quarter

C:\Users\USER\Documents\IF5170\backend\services\reports.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['admitted_date'].dt.quarter
C:\Users\USER\Documents\IF5170\backend\services\reports.py:139: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['quarter'].map(quarter_dct)

{'id': 'idn',
 'data': [{'x': 'Q1', 'y': 134748.6},
  {'x': 'Q2', 'y': 90536.61},
  {'x': 'Q3', 'y': 148142.77},
  {'x': 'Q4', 'y': 128961.74}]}

### DataFrame formats
#### Total admitted patients

In [8]:
patient_admissions_per_annum = idn_instance.patient_admissions_per_annum(patient_admissions_by_country)
patient_admissions_per_annum

    year  total_admitted_patients
0   2012                       94
1   2013                       95
2   2014                       82
3   2015                       86
4   2016                       79
5   2017                       91
6   2018                       82
7   2019                       80
8   2020                       92
9   2021                       84
10  2022                       92

In [9]:
patient_admissions_per_month = idn_instance.patient_admissions_per_month(patient_admissions_by_country, 2021)
patient_admissions_per_month

C:\Users\USER\Documents\IF5170\backend\services\reports.py:171: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['admitted_date'].dt.month

    month  total_admitted_patients
0       1                        8
1       2                        1
2       3                        9
3       4                        4
4       5                        8
5       6                        9
6       7                        8
7       8                        6
8       9                        7
9      10                        6
10     11                       10
11     12                        8

In [10]:
patient_admissions_per_quarter = idn_instance.patient_admissions_per_quarter(patient_admissions_by_country, 2021)
patient_admissions_per_quarter

C:\Users\USER\Documents\IF5170\backend\services\reports.py:202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['admitted_date'].dt.quarter
C:\Users\USER\Documents\IF5170\backend\services\reports.py:209: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['quarter'].map(quarter_dct)

  quarter  total_admitted_patients
0      Q1                       18
1      Q2                       21
2      Q3                       21
3      Q4                       24

### Table Data

In [11]:
revenues_by_state_per_annum = idn_instance.revenues_by_state_per_annum(patient_admissions_by_state)
revenues_by_state_per_annum

[{'year': 2012, 'state': 'B', 'total_revenues': 242034.73, 'Country': 'idn'},
 {'year': 2012, 'state': 'J', 'total_revenues': 243210.09, 'Country': 'idn'},
 {'year': 2013, 'state': 'B', 'total_revenues': 213461.12, 'Country': 'idn'},
 {'year': 2013, 'state': 'J', 'total_revenues': 471966.43, 'Country': 'idn'},
 {'year': 2014, 'state': 'B', 'total_revenues': 272386.82, 'Country': 'idn'},
 {'year': 2014, 'state': 'J', 'total_revenues': 302832.46, 'Country': 'idn'},
 {'year': 2015,
  'state': 'B',
  'total_revenues': 247229.66999999998,
  'Country': 'idn'},
 {'year': 2015, 'state': 'J', 'total_revenues': 212567.91, 'Country': 'idn'},
 {'year': 2016, 'state': 'B', 'total_revenues': 206160.83, 'Country': 'idn'},
 {'year': 2016, 'state': 'J', 'total_revenues': 206456.62, 'Country': 'idn'},
 {'year': 2017, 'state': 'B', 'total_revenues': 255076.15, 'Country': 'idn'},
 {'year': 2017, 'state': 'J', 'total_revenues': 337783.15, 'Country': 'idn'},
 {'year': 2018, 'state': 'B', 'total_revenues': 224611.79, 'Country': 'idn'},
 {'year': 2018, 'state': 'J', 'total_revenues': 323636.99, 'Country': 'idn'},
 {'year': 2019, 'state': 'B', 'total_revenues': 210489.19, 'Country': 'idn'},
 {'year': 2019, 'state': 'J', 'total_revenues': 234288.4, 'Country': 'idn'},
 {'year': 2020, 'state': 'B', 'total_revenues': 170451.27, 'Country': 'idn'},
 {'year': 2020, 'state': 'J', 'total_revenues': 427676.48, 'Country': 'idn'},
 {'year': 2021, 'state': 'B', 'total_revenues': 258705.44, 'Country': 'idn'},
 {'year': 2021, 'state': 'J', 'total_revenues': 243684.28, 'Country': 'idn'},
 {'year': 2022, 'state': 'B', 'total_revenues': 236539.59, 'Country': 'idn'},
 {'year': 2022, 'state': 'J', 'total_revenues': 180131.79, 'Country': 'idn'}]

In [12]:
patient_admission_by_state_per_year = idn_instance.patient_admission_by_state_per_year(patient_admissions_by_state)
patient_admission_by_state_per_year

[{'year': 2012, 'state': 'B', 'total_admitted_patients': 44, 'Country': 'idn'},
 {'year': 2012, 'state': 'J', 'total_admitted_patients': 50, 'Country': 'idn'},
 {'year': 2013, 'state': 'B', 'total_admitted_patients': 40, 'Country': 'idn'},
 {'year': 2013, 'state': 'J', 'total_admitted_patients': 55, 'Country': 'idn'},
 {'year': 2014, 'state': 'B', 'total_admitted_patients': 45, 'Country': 'idn'},
 {'year': 2014, 'state': 'J', 'total_admitted_patients': 37, 'Country': 'idn'},
 {'year': 2015, 'state': 'B', 'total_admitted_patients': 40, 'Country': 'idn'},
 {'year': 2015, 'state': 'J', 'total_admitted_patients': 46, 'Country': 'idn'},
 {'year': 2016, 'state': 'B', 'total_admitted_patients': 40, 'Country': 'idn'},
 {'year': 2016, 'state': 'J', 'total_admitted_patients': 39, 'Country': 'idn'},
 {'year': 2017, 'state': 'B', 'total_admitted_patients': 39, 'Country': 'idn'},
 {'year': 2017, 'state': 'J', 'total_admitted_patients': 52, 'Country': 'idn'},
 {'year': 2018, 'state': 'B', 'total_admitted_patients': 37, 'Country': 'idn'},
 {'year': 2018, 'state': 'J', 'total_admitted_patients': 45, 'Country': 'idn'},
 {'year': 2019, 'state': 'B', 'total_admitted_patients': 39, 'Country': 'idn'},
 {'year': 2019, 'state': 'J', 'total_admitted_patients': 41, 'Country': 'idn'},
 {'year': 2020, 'state': 'B', 'total_admitted_patients': 39, 'Country': 'idn'},
 {'year': 2020, 'state': 'J', 'total_admitted_patients': 53, 'Country': 'idn'},
 {'year': 2021, 'state': 'B', 'total_admitted_patients': 41, 'Country': 'idn'},
 {'year': 2021, 'state': 'J', 'total_admitted_patients': 43, 'Country': 'idn'},
 {'year': 2022, 'state': 'B', 'total_admitted_patients': 40, 'Country': 'idn'},
 {'year': 2022, 'state': 'J', 'total_admitted_patients': 52, 'Country': 'idn'}]

In [13]:
patient_admissions_by_country

,country,admission_id,admitted_causes,admitted_date,bed_id,care_center_id,discharged_date,patient_id,room_id,room_rate_per_night,room_rate_total,year
0,IDN,adm-idn-0003,Dissecting aortic aneurysm tearing and dilatio...,2014-12-21,b-idn-8925,cc-idn-1,2014-12-28,p-idn-0976,r-idn-ii-2866,245.60,1719.20,2014
1,IDN,adm-idn-0008,Inhaled foreign body in respiratory tract,2012-10-24,b-idn-6764,cc-idn-2,2012-11-06,p-idn-0882,r-idn-ii-0708,196.48,2554.24,2012
2,IDN,adm-idn-0029,Mitral regurgitation leaking heart valve,2022-07-10,b-idn-3797,cc-idn-1,2022-07-22,p-idn-0411,r-idn-vvip-2552,867.07,10404.84,2022
3,IDN,adm-idn-0058,Symptomatic dermatographism exaggerated skin r...,2014-05-22,b-idn-8284,cc-idn-1,2014-05-30,p-idn-0045,r-idn-i-5629,456.33,3650.64,2014
4,IDN,adm-idn-0059,Colic prolonged infant crying episodes,2022-09-06,b-idn-4962,cc-idn-2,2022-09-08,p-idn-0361,r-idn-i-0942,434.31,868.62,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
952,IDN,adm-idn-9947,Epiglottitis severe throat inflammation,2012-05-13,b-idn-9218,cc-idn-2,2012-05-19,p-idn-0202,r-idn-vvip-5420,998.25,5989.50,2012
953,IDN,adm-idn-9982,Head lice,2021-11-22,b-idn-0030,cc-idn-1,2021-11-28,p-idn-0152,r-idn-i-5295,456.33,2737.98,2021
954,IDN,adm-idn-9985,Tonsillar cancer tumor tongue,2019-03-31,b-idn-4495,cc-idn-1,2019-04-08,p-idn-0624,r-idn-ii-3318,245.60,1964.80,2019
955,IDN,adm-idn-9993,Vesicovaginal fistula connection between the b...,2019-06-11,b-idn-1584,cc-idn-2,2019-06-17,p-idn-0728,r-idn-iii-6944,103.62,621.72,2019
956,IDN,adm-idn-9997,Polycystic kidney disease inherited kidney dis...,2017-09-27,b-idn-4495,cc-idn-1,2017-10-29,p-idn-0932,r-idn-iii-6944,98.47,3151.04,2017

In [14]:
room_occupancy_by_room_type_per_year = idn_instance.room_occupancy_by_room_type_per_year(patient_admissions_by_country)
room_occupancy_by_room_type_per_year

[{'year': 2012,
  'Class I': 13,
  'Class II': 34,
  'Class III': 15,
  'VIP': 11,
  'VVIP': 21},
 {'year': 2013,
  'Class I': 19,
  'Class II': 22,
  'Class III': 11,
  'VIP': 25,
  'VVIP': 18},
 {'year': 2014,
  'Class I': 19,
  'Class II': 20,
  'Class III': 14,
  'VIP': 10,
  'VVIP': 19},
 {'year': 2015,
  'Class I': 15,
  'Class II': 33,
  'Class III': 13,
  'VIP': 15,
  'VVIP': 10},
 {'year': 2016,
  'Class I': 15,
  'Class II': 23,
  'Class III': 17,
  'VIP': 19,
  'VVIP': 5},
 {'year': 2017,
  'Class I': 27,
  'Class II': 15,
  'Class III': 17,
  'VIP': 9,
  'VVIP': 23},
 {'year': 2018,
  'Class I': 17,
  'Class II': 19,
  'Class III': 10,
  'VIP': 26,
  'VVIP': 10},
 {'year': 2019,
  'Class I': 20,
  'Class II': 19,
  'Class III': 13,
  'VIP': 14,
  'VVIP': 14},
 {'year': 2020,
  'Class I': 20,
  'Class II': 18,
  'Class III': 19,
  'VIP': 20,
  'VVIP': 15},
 {'year': 2021,
  'Class I': 14,
  'Class II': 20,
  'Class III': 14,
  'VIP': 20,
  'VVIP': 16},
 {'year': 2022,
  'Class I': 26,
  'Class II': 31,
  'Class III': 12,
  'VIP': 8,
  'VVIP': 15}]